.testonomial-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.testo-text{
    width: 600px;
    text-align: center;
}