.herosecion-wrapper{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 80px 10px;
    flex-wrap: wrap;
}

.image-wrapper img{
    padding: 30px;
    background-color: antiquewhite;
    border-radius: 20px 70px;
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
}

.herosection-text{
    padding: 40px;
    font-size: 20px;
    max-width: 600px;
}

.herosection-heading{
font-size: 30px;
}

.input-wrapper {
    display: flex;
    align-items: center;
}
.input-wrapper input{
    height: 50px;
    width: 300px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    padding: 5px;
    padding-left: 20px;

}

.input-wrapper Button {
    margin-left: -100px;
}

.icon-wrapper{
    display: flex;
    gap: 20px;
}

