.iconButton-wrapper {
    background-color: whitesmoke;
    color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 180px;
  font-size: 10px;
  padding: 10px 10px;
  margin-top: 25px;
  border-radius: 10px;

}

.icon-image img {
  height: 50px;
  width: 50px;
}

.icon-text h2{
    font-size: 20px;
text-align: center;
margin: 0px;
padding: 0px;
}
.icon-text p{
    font-size: 12px;
text-align: center;
margin: 0px;
padding: 0px;
}